{% extends 'base.html.twig' %}

{% block title %}{{ 'main.register'|trans }}{% endblock %}

{% block body %}
    <div class="container width-sm">
        <div class="page-header">
            <h2>{{ 'main.register'|trans }}</h2>
        </div>
        {{ form_errors(registrationForm) }}

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <div class="register-form">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn">{{ 'main.register'|trans }}</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
