{% extends 'base.html.twig' %}

{% block title %}{{ 'main.home_page_title'|trans }}{% endblock %}

{% block body %}
    <div class="container homepage width-md">

        <div class="page-header">
            <h1>{{ 'main.home_page_title'|trans }}</h1>
        </div>

        <div class="endpoints-container">
            <div class="endpoints-container-list">
                {% for menuItem in menuItems %}
                    <a href="{{ path(menuItem.route) }}" class="button">
                        <i class="bi bi-{{ menuItem.icon }}"></i>
                        {{ menuItem.translationKey|trans }}
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>
{% endblock %}
