{% extends 'base.html.twig' %}

{% block title %}{{ 'contact_form.title'|trans }}{% endblock %}

{% block body %}
    <div class="container width-md">
        <div class="page-header">
            <h2>{{ 'contact_form.title'|trans }}</h2>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        <div class="container contact-form">
            {{ form_start(contactForm) }}
                {{ form_row(contactForm.email) }}
                {{ form_row(contactForm.message) }}
                <button type="submit" class="btn">{{ 'contact_form.send_message'|trans }}</button>
            {{ form_end(contactForm) }}
        </div>
    </div>
{% endblock %}
