<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ 'email.contact.title'|trans }}</title>
</head>
<body>
    <p>{{ 'email.contact.new_message_from'|trans }} <strong>{{ email }}</strong></p>
    <p>{{ 'email.contact.message_label'|trans }}</p>
    <p>{{ message }}</p>
</body>
</html>
