<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Szelbi's Workspace{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('vendor/bootstrap-icons/font/bootstrap-icons.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {% endblock %}
</head>

<body>
    {% include('header.html.twig') %}

    <main class="main-layout">
        <aside class="sidebar" id="sidebar">
            {% include('sidebar.html.twig') %}
        </aside>
        
        <section class="main-content">
            <div class="container body-container">
                {% block body %}{% endblock %}
            </div>
        </section>
    </main>

    {% include('footer.html.twig') %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
            {{ importmap('sidebar') }}
            <script type="module">
                import 'bootstrap';
            </script>
        {% endblock %}
    {% endblock %}

</body>
</html>
