{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ path('main_page') }}">
{#                   <img class="navbar-logo-img" src="{{ asset('images/logo.png') }}" alt="Logo">#}
                    Szelbi's Workspace
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link border border-gray rounded" href="{{ path('main_page') }}">Choose language</a>
                        </li>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link border border-gray rounded" href="{{ path('app_logout') }}">Logout ({{ app.user.email }})</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link border border-gray rounded" href="{{ path('app_login_index') }}">Log in</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
