<header>
    <div class="page-header-bar">
        <a href="{{ path('main_page') }}">
            <img src="{{ asset('images/logo.png') }}" alt="Logo">
        </a>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="header-logged">
                <p>Logged: {{ app.user.email }}</p>
                <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <div class="header-not-logged">
                <a href="{{ path('app_login_index') }}">Log in</a>
            </div>
        {% endif %}
    </div>
    <div class="page-header-gradient"></div>

</header>
