{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/header.scss') }}">
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand item-shadow rounded nav-link" href="{{ path('main_page') }}">
{#                   <img class="navbar-logo-img" src="{{ asset('images/logo.png') }}" alt="Logo">#}
                    Szelbi's Workspace
                </a>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle item-shadow rounded" href="#" id="languageDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="true">
                                {{ 'main.choose_language'|trans }} ({{ app.request.locale }})
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('change_language', { 'locale': 'en' }) }}">
                                        🇬🇧 English
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('change_language', { 'locale': 'pl' }) }}">
                                        🇵🇱 Polski
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="nav-item">
                                <a class="nav-link item-shadow rounded" href="{{ path('app_logout') }}">{{ 'main.logout'|trans }} ({{ app.user.email }})</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <div class="auth-buttons">
                                    <a class="nav-link item-shadow rounded" href="{{ path('app_login_index') }}">{{ 'main.login'|trans }}</a>
                                    <a class="nav-link item-shadow rounded" href="{{ path('app_register_index') }}">{{ 'main.register'|trans }}</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
