{% extends 'base.html.twig' %}

{% block title %}List of Satelites{% endblock %}

{% block body %}

    <div class="satellite-container container">

        <div class="page-header">
            <h2>Satellites list</h2>
        </div>
        <div class="satellite-table-container">
            <label class="hidden" for="searchInput">Search</label>
            <input type="text" id="searchInput" placeholder="Search...">

            <table id="satellite-table">
                <tr>
                    <th>Prod</th>
                    <th>Local</th>
                </tr>
                {% for satellite in satellites %}
                    <tr>
                        <td><a href="{{ 'https://' ~ satellite }}" target="_blank">{{ satellite }}</a></td>
                        <td><a href="{{ 'https://' ~ satellite ~ '.local' }}" target="_blank">{{ satellite ~ '.local' }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block importmap %}
    {{ importmap('satellites') }}
{% endblock %}
