{% extends 'base.html.twig' %}

{% block title %}{{ 'satellite.page_title'|trans }}{% endblock %}

{% block body %}

    <div class="container width-md">
        <div class="page-header">
            <h2>{{ 'satellite.title'|trans }}</h2>
        </div>
        <div class="container satellite-table-container">
            <label class="hidden" for="searchInput">Search</label>
            <input type="text" id="searchInput" placeholder="{{ 'main.search_placeholder'|trans }}">

            <table id="satellite-table">
                <tr>
                    <th>{{ 'satellite.table.prod'|trans }}</th>
                    <th>{{ 'satellite.table.local'|trans }}</th>
                </tr>
                {% for satellite in satellites %}
                    <tr>
                        <td><a href="{{ 'https://' ~ satellite }}" target="_blank">{{ satellite }}</a></td>
                        <td><a href="{{ 'https://' ~ satellite ~ '.local' }}" target="_blank">{{ satellite ~ '.local' }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block additionalImportmap %}
    {{ importmap('satellites') }}
{% endblock %}
