<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Satellites</title>
    <style>
        body {
            margin: 20px 40px
        }
        table {
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 2px 20px;
        }

    </style>
</head>
<body>

<p>Render time: {{ time }}</p>

<input type="text" id="searchInput" placeholder="Szukaj...">

<table id="satelliteTable">
    <tr>
        <th>PROD</th>
        <th>LOCAL</th>
    </tr>
    {% for satellite in satellites %}
        <tr>
            <td><a href="{{ 'http://' ~ satellite }}" target="_blank">{{ satellite }}</a></td>
            <td><a href="{{ 'http://' ~ satellite ~ '.local' }}" target="_blank">{{ satellite ~ '.local' }}</a></td>
        </tr>
    {% endfor %}
</table>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function() {
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        table = document.getElementById('satelliteTable');
        tr = table.getElementsByTagName('tr');

        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName('td')[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = '';
                } else {
                    tr[i].style.display = 'none';
                }
            }
        }
    });
</script>

</body>
</html>
