{% extends 'base.html.twig' %}

{% block title %}List of Satelites{% endblock %}

{% block body %}

<p>Rendered at: {{ time }}</p>

<input type="text" id="searchInput" placeholder="Search...">

<table id="satelliteTable">
    <tr>
        <th>PROD</th>
        <th>LOCAL</th>
    </tr>
    {% for satellite in satellites %}
        <tr>
            <td><a href="{{ 'https://' ~ satellite }}" target="_blank">{{ satellite }}</a></td>
            <td><a href="{{ 'https://' ~ satellite ~ '.local' }}" target="_blank">{{ satellite ~ '.local' }}</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}

{% block javascripts %}
    {{ importmap('satellites') }}
{% endblock %}
