{% extends 'base.html.twig' %}

{% block title %}Weather conditions{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/weather.scss') }}">
{% endblock %}

{% block body %}

    <div class="container">
        <div class="header">
            <h2>Weather conditions for {{ weatherData.city }}, {{ weatherData.country }}</h2>
            <p>Request time: <span id="request-time">{{ requestTime }}</span></p>
            <p>Last updated: <span id="last-updated">{{ weatherData.lastUpdated }}</span></p>
        </div>

        <table class="weather-table  table-dark">
            <thead>
            <tr>
                <th>{{ 'main.attribute'|trans }}</th>
                <th>{{ 'main.value'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'weather.temperature'|trans }}</td>
                <td id="temperature" data-key="temperatureC">{{ weatherData.temperatureC }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.feels_like'|trans }}</td>
                <td id="feels-like" data-key="feelsLikeC">{{ weatherData.feelsLikeC }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.wind_speed'|trans }}</td>
                <td id="wind-speed" data-key="windSpeedKph">{{ weatherData.windSpeedKph }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.wind_direction'|trans }}</td>
                <td id="wind-direction" data-key="windDirection">{{ weatherData.windDirection }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.condition'|trans }}</td>
                <td id="condition" data-key="conditionText">{{ weatherData.conditionText }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.humidity'|trans }}</td>
                <td id="humidity" data-key="humidity">{{ weatherData.humidity }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.pressure'|trans }}</td>
                <td id="pressure" data-key="pressureMb">{{ weatherData.pressureMb }}</td>
            </tr>
            </tbody>
        </table>

        <button class="btn-spinner" id="btn-reloader">
            <img class="icon-spinner" id="spinner-icon" src="{{ asset('images/refresh.svg') }}" alt="spinner">
        </button>
    </div>

{% endblock %}

{% block javascripts %}
    {{ importmap('lucky_number') }}

    <script>
        const btnSpinner = document.getElementById('btn-reloader');
        document.getElementById('btn-reloader').addEventListener('click', function() {
            fetch('{{ path('weather_update') }}')
                .then(response => response.json())
                .then(data => {
                    document.querySelectorAll('tbody td[data-key]').forEach(cell => {
                        cell.textContent = data[cell.getAttribute('data-key')];
                    });
                    document.getElementById('last-updated').textContent = data.lastUpdated;
                    document.getElementById('request-time').textContent = data.requestTime;
                })
                .catch(error => console.error('Error fetching weather data:', error));
        });
    </script>
{% endblock %}
