{% extends 'base.html.twig' %}

{% block title %}{{ 'weather.page_title'|trans }}{% endblock %}

{% block body %}

    <div class="container width-md">
        <div class="page-header">
            <h2>{{ 'weather.conditions_for'|trans({'%city%': weatherData.city, '%country%': weatherData.country}) }}</h2>
            <div class="additional-info">
                <p>{{ 'weather.request_time'|trans }} <span id="request-time">{{ requestTime }}</span></p>
                <p>{{ 'weather.last_updated'|trans }} <span id="last-updated">{{ weatherData.lastUpdated }}</span></p>
            </div>
        </div>

        <table class="table-grey">
            <thead>
            <tr>
                <th>{{ 'main.attribute'|trans }}</th>
                <th>{{ 'main.value'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'weather.temperature'|trans }}</td>
                <td id="temperature" data-key="temperatureC">{{ weatherData.temperatureC }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.feels_like'|trans }}</td>
                <td id="feels-like" data-key="feelsLikeC">{{ weatherData.feelsLikeC }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.wind_speed'|trans }}</td>
                <td id="wind-speed" data-key="windSpeedKph">{{ weatherData.windSpeedKph }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.wind_direction'|trans }}</td>
                <td id="wind-direction" data-key="windDirection">{{ weatherData.windDirection }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.condition'|trans }}</td>
                <td id="condition" data-key="conditionText">{{ weatherData.conditionText }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.humidity'|trans }}</td>
                <td id="humidity" data-key="humidity">{{ weatherData.humidity }}</td>
            </tr>
            <tr>
                <td>{{ 'weather.pressure'|trans }}</td>
                <td id="pressure" data-key="pressureMb">{{ weatherData.pressureMb }}</td>
            </tr>
            </tbody>
        </table>

        <button class="btn-spinner" id="btn-reloader">
            <img class="icon-spinner" id="spinner-icon" src="{{ asset('images/refresh.svg') }}" alt="spinner">
        </button>
    </div>

{% endblock %}

{% block additionalImportmap %}
    {{ importmap('weather') }}
{% endblock %}

{% block additionalJavascripts %}
    <script>
        // Set global variable for weather.js to use
        window.weatherUpdateUrl = '{{ path('weather_update') }}';
    </script>
{% endblock %}
